.container {
  border: solid 2px blue;
    border-radius: 16px;
    margin: 8px;
    padding: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center
}

.title {
  color: purple;
}

.btn {
  background-color: limegreen;
    border: none;
    border-radius: 8px;
    &:hover {
      background-color: pink;
      cursor: pointer;
    }
}